@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In this example, I used the database NorthWind, applying the "Database First" with Entity FrameWork.</p>
    <p>Also, the "scaffolding" was a big helper of mine.</p>
    <p>To get started, click on option "Costumers" in the navbar.</p>
</div>
